body {
	padding: 0;
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	color: #5C5C5C;
	border: 0px solid;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

h1 {
}

h2 {
	margin: 5px;
}

p, ul, ol {
	margin: 0 0 1em 0;
	text-align: justify;
	line-height: 26px;
	list-style: none;
}

a {
	color: #8A7645;
}

a:hover, a:active {
	text-decoration: none;
	color: #8A7645;
}

a:visited {
	color: #8A7645;
}

hr {
  	border: 0;
	width: 100%;
	color: #f00;
	background-color: #d6d1c9;
	height: 1px;
}

img {
	border: none;
}

#header{
	width: 70%;
	margin: 0 auto 0 auto;
}

#footer{
	width: 70%;
	margin: 0 auto 0 auto;
        margin-top: 20px;
}

#content{
	width: 70%;
	margin: 0 auto 0 auto;
	padding-top: 20px;
}

#comment{
	width: 300px;
	height: 100px;
	margin: 0px;
	padding: 0px;
}
#entries td
{
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}

#entries th
{
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}

#entries
{
	width: 100%;
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
	margin-bottom: 10px;
}