body {
	padding: 0;
	font-size: 0.8em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	color: #5C5C5C;
	border: 0px solid;
}

ul, li, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

h1 {
}

h2 {
	margin: 5px;
}

p, ul, ol {
	margin: 0 0 1em 0;
	text-align: justify;
	line-height: 26px;
	list-style: none;
}

a {
	color: #8A7645;
}

a:hover, a:active {
	text-decoration: none;
	color: #8A7645;
}

a:visited {
	color: #8A7645;
}

hr {
  	border: 0;
	width: 100%;
	color: #f00;
	background-color: #d6d1c9;
	height: 1px;
}

img {
	border: none;
}

#header{
	width: 1330px;
	margin: 0 auto 0 auto;
}

#footer{
    width: 1330px;
    margin: 0 auto 0 auto;
    clear:both;
}


#comment{
	width: 300px;
	height: 100px;
	margin: 0px;
	padding: 0px;
}

table, th, td
{
border: 1px solid black;
}

td, th{
    padding: 5px;
}

table{
    width: 100%;
    border-collapse:collapse;
}

.message{
    color: red;
}

#content{
    float: right;
    width: 1220px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0px solid;    
}

/*
* Wrap content and menu
*/

#wrapper {
    width: 1330px;
    margin: 0 auto 0 auto;
    border: 0px solid;
}

/*
* Main navigation
*/

#navigation
{
    width: 100px;
    margin-top: 5px;
    border: 1px solid;
    float: left;
}

#top-level-navigation
{
    border: 1px solid;
    display: block;
    margin: 0 auto 0 auto;
    width: 1330px;
}

#top-level-navigation ul li
{
    display: inline;
}

/* Choose date
 * Creates a little calendar icon
 * instead of a text link for "Choose date"
 */
a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 3px 3px 0;
	display: block;
	text-indent: -2000px;
	background: url(../images/calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	float: left;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }